# 5. НАСТРОЙКИ KAFKA
NODE_NAME=kafka-node-XX # Имя ноды
INTERNAL_IP=localip
EXTERNAL_IP=externalip
EXTERNAL_PORT=portbalance
PUBLISH_HOST=IP #Вставьте нужный IP сервера
KAFKA_NODE_ID=1 # ID Первой ноды, для других машин, переименовать на другую цифру                                                         
KAFKA_QUORUM_VOTERS=1@IP:9093,2@IP:9093 # IP, первой машины, далее через запятую другие машины
KAFKA_CLUSTER_ID=iX9fS2d8T5G7vYqR1W2a3Q # название кластера для kafka используя UUID
KAFKA_BOOTSTRAP_SERVERS=IP:9092,IP:9092 # требуемые IP для подключения Logstash

# === ГЛАВНЫЕ РЫЧАГИ УПРАВЛЕНИЯ ===
# Если 1 узел: REPLICATION=1, MIN_ISR=1. Если 3 узла: REPLICATION=3, MIN_ISR=2.
KAFKA_REPLICATION_FACTOR=3
KAFKA_MIN_ISR=2
