# 1. НАСТРОЙКИ СЕРВЕРА
NODE_NAME=es-node-XX # XX - номер узла
PUBLISH_HOST=ip_node # поменять на правильный ip

# 2. НАСТРОЙКИ КЛАСТЕРА
CLUSTER_NAME=name_of_cluster # имя кластера
SEED_HOSTS=all_ip_with_elastic # все ip-адреса, где будет развернут elastic
INITIAL_MASTER_NODES=names_of_nodes # перечисления имен узлов elastic

# 3. ПАРОЛИ И КЛЮЧИ
ELASTIC_PASSWORD=password_for_elastic # пароль от elastic
KIBANA_PASSWORD=password_for_kibana # пароль от kibana
KIBANA_ENCRYPTION_KEY=any_secrets_words_of_32char_lenth # придумать ключ на 32 знака в длинну

# 4. ПОДКЛЮЧЕНИЕ К S3
S3_HOST=s3_host # хост для s3

# 5. НАСТРОЙКИ KAFKA
KAFKA_NODE_ID=1 # ID Первой ноды, для других машин, переименовать на другую цифру                                                         
KAFKA_QUORUM_VOTERS=1@IP:9093,2@IP:9093 # IP, первой машины, далее через запятую другие машины
KAFKA_CLUSTER_ID=iX9fS2d8T5G7vYqR1W2a3Q # название кластера для kafka используя UUID
KAFKA_BOOTSTRAP_SERVERS=IP:9092,IP:9092 # требуемые IP для подключения Logstash

# === ГЛАВНЫЕ РЫЧАГИ УПРАВЛЕНИЯ ===
# Если 1 узел: REPLICATION=1, MIN_ISR=1. Если 3 узла: REPLICATION=3, MIN_ISR=2.
KAFKA_REPLICATION_FACTOR=3
KAFKA_MIN_ISR=2
