# 5. НАСТРОЙКИ KAFKA
NODE_NAME=kafka-node-01 # Имя ноды
INTERNAL_IP=LocalIP # локальный IP
EXTERNAL_IP=IP #Внешний IP
KAFKA_NODE_ID=1 # ID Первой ноды, для других машин, переименовать на другую цифру
KAFKA_QUORUM_VOTERS=1@LocalIP:9093,2@LocalIP:9093,3@LocalIP:9093 # IP, первой машины, далее через запятую другие машины
KAFKA_CLUSTER_ID=UUID-CLUSTER_USE # название кластера для kafka используя UUID

# === ГЛАВНЫЕ РЫЧАГИ УПРАВЛЕНИЯ ===
# Если 1 узел: REPLICATION=1, MIN_ISR=1. Если 3 узла: REPLICATION=3, MIN_ISR=2.
KAFKA_REPLICATION_FACTOR=3
KAFKA_MIN_ISR=2
